body {
    background-color: #555;
    color: whitesmoke
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.wrapper {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 500px;
    background-color: #333;
    border-radius: 25px;
}

.info {
    border: 5px 5px 5px 5px;
}

.description {
    border: 5px 5px 5px 5px;
}
