:root {
  --accent-color: rgb(74, 74, 234);
  --black: rgb(32, 32, 32)
}

body {
  margin: 1cm 15% 1cm 15%;
  font-family: monospace;
  font-size: 14pt;
}

nav > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12pt;
}

nav > div > a {
  text-transform: lowercase;
  font-size: 16pt;
  text-decoration-style: dotted;
  text-align: center;
}

nav > div > a:hover {
  font-weight: bolder;
  text-decoration-style: wavy;
}

footer {
  padding: 6pt;
  font-size: 13pt;
}

footer, h1 {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #ff5722;
  padding-left: 32px;
  text-transform: uppercase;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
              -12px 12px #7e57c2,
              -16px 16px #2196f3,
              -20px 20px #26c6da,
              -24px 24px #43a047,
              -28px 28px #eeff41,
              -32px 32px #f9a825;
}

h2 {
  border-bottom: 1px solid;
}

a {
  color: var(--accent-color);
  font-weight: bold;
}

p {
  margin: 10px;
}

img {
  width: calc(min(512pt, 80%));
}

figure {
  border-radius: 10px;
  overflow: hidden;
}

figure > img {
  display: block;
  margin-bottom: 10px;
  max-width: 347px;
}

details {
  border: 2px var(--black) solid;

  border-radius: 15px;
  overflow: hidden;
}

details > summary {
  background-color: var(--black);
  text-align: center;
  font-size: 15pt;
  color: white;
  padding: 4px;

  &::marker {
    content: "";
  }
}

.div-center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  display: flex;
  gap: 15px;

  & > img {
    display: block;
    margin-bottom: 10px;
    max-width: 347px;
    border-radius: 15pt;
  }
}

.tags {
  margin: 8px;
}

.tags > span {
  margin: 2px;
  padding: 6px;
  font-size: 11pt;
  border-radius: 15pt;
  border: 1px rgb(7, 152, 7) solid;
  color: rgb(7, 152, 7);
}

.highlight {
  padding: 8px;
  margin: 8px;
  border-radius: 15pt;
  border: 1px gray solid;
}

.web-badge {
  width: 88px;
  height: 31px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: rgb(115, 115, 190);
  }

  body {
    background-color: var(--black);
    color: white;
  }

  details {
    border: 2px white solid;
  }
  
  details > summary {
    background-color: white;
    color: var(--black);
  }

  .bg, .chroma {
    background-color: var(--black);
  }
}

@media screen and (max-width: 480px) {
  body {  
    margin: 0.5cm 5% 0.5cm 5%;
    font-size: 11pt;
  }

  nav > div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr)
  }

  details > summary {
    font-size: 12pt;
  }

  ul, ol {
    padding-left: 20pt;
  }
}